<form>
    <label>І'мя у бд</label>
    <input type="text" name="name" id="name">

    <label >І'мя батьківскої категорії</label>
    <input type="text" name="categoryName" id="categoryName">

    <label >І'мя яке бачать користувачі</label>
    <input type="text" name="visibleName" id="visibleName">

    <label >Ціна</label>
    <input type="text" name="price" id="price">

    <input type="file" name="file" id="files">
    <button type="submit">Submit</button>

    
</form>

    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            uploadImage(e)
            // Prevents HTML handling submission
            
            
        })

        
        const uploadImage = async (event) => {
            const nameElement = document.getElementById("name");
            const categoryNameElement = document.getElementById("categoryName");
            const visibleNameElement = document.getElementById("visibleName");
            const priceElement = document.getElementById("price");

            const files = document.getElementById("files");

            let goodName = nameElement.value
            let categoryName = categoryNameElement.value
            let goodVisibleName = visibleNameElement.value
            let price = priceElement.value

            let text = await convertBase64(files.files[0])
            var fileRes = files.files[0].name.split('.').pop();
            
            let data = {goodName: goodName, categoryName: categoryName, goodVisibleName: goodVisibleName, price: price, imageBase64: text, fileRes: fileRes}
            fetch('http://localhost:3500/adminpanel/addGood', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data) // Payload is formData object
                
            })
            .then(res => res.json())
            .then(data => console.log(data));
        };
        
        const convertBase64 = (file) => {
            return new Promise((resolve, reject) => {
                const fileReader = new FileReader();
                fileReader.readAsDataURL(file);

                fileReader.onload = () => {
                    resolve(fileReader.result);
                };

                fileReader.onerror = (error) => {
                    reject(error);
                };
            });
        };
    </script>